/* Reset default margin and padding, and use border-box box model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the entire page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the menu button */
.menu .btn {
  background-color: black;
  margin-right: 20px;
  padding: 15px;
  border-radius: 20px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
}

.menu {
  position: sticky;
}

.menu button {
  background: none;
}

.mobile-menu button {
  background: none;
  padding: 10px 20px;
}

.mobile-menu button i {
  margin-right: 30px;
}

.mobile-menu .btn {
  background-color: black;
  margin-right: 20px;
  padding: 15px;
  border-radius: 20px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  width: 50%;
  margin: 20px 10px;
}

/* Styling for the navbar */
.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBF2FA;
  color: black;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Styling for the hero section */
.hero {
  animation: fadeInRightBig;
  animation-duration: 2s;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  background-image: url("watch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Styling for content section 1 */
.con1 {
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #00000079;
}

.con1 h1 {
  color: blue;
}

.con1 p {
  color: whitesmoke;
  font-size: 20px;
}

.con1 button {
  background-color: white;
  padding: 15px;
  font-size: 12px;
  letter-spacing: 0.5rem;
}

/* Styling for content section 2 */
.con2 img {
  height: 100vh;
  width: 100%;
  padding: 10px 20px;
}

/* Logo styles */
.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 0 30px;
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 38px;
}

/* Styling for the menu links */
.menu a {
  color: black;
  text-decoration: none;
  margin: 15px 1rem;
  padding: 0 20px;
}

/* Toggle button styles */
.toggle-button {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  padding: 0 20px;
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: rgb(255, 247, 247);
  color: blue;
  position: absolute;
  top: 0;
  right: 20px;
  width: 80%;
}

.mobile-menu a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}

/* Product card and product styles */
.products {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
}

.product-card {
  width: 40%;
  margin: 30px;
  height: auto;
}

.product-card h3 {
  font-size: 25px;
}

.product-card p {
  font-size: 13px;
}

.product-card button {
  background-color: black;
  margin-right: 20px;
  padding: 15px;
  border-radius: 20px;
  color: whitesmoke;
  font-size: 12px;
  text-transform: uppercase;
}

.product-card button:hover {
  background-color: #EBF2FA;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: ease-in 2s;
}

.product-card img {
  width: 70%;
  height: 50vh;
  margin: auto;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Categories styles */
.categories {
  display: flex;
  flex-direction: column;
}

.categories button {
  border-radius: 30px;
  font-size: 13px;
  background-color: #EBF2FA;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: black;
  padding: 20px;
}
.newsletter{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  padding: 40px 20px;
  background-color: black;
  color: #EBF2FA;
}
.input{
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  padding-left: 20px;
}
/* Responsive styles for smaller screens (up to 768px) */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .toggle-button {
    display: block;
  }

  .products {
    display: flex;
    flex-direction: column;
  }

  .product-card {
    width: 80%;
    margin: 20px auto;
  }
.newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.input{
  width: 100%;
}
.input input{
  outline: none;
  padding: 12px;
}
  .categories {
    display: flex;
    flex-direction:
  }